[Unit]
Description=Mosquitto MQTT Broker
After=network.target

[Service]
ExecStart=/usr/local/sbin/mosquitto -c /usr/local/etc/mosquitto/mosquitto.conf
Restart=always

[Install]
WantedBy=multi-user.target
